.prof-menu {
    width: fit-content;
  }
  
  .prof-menu__main {
    background: none;
    border: 1px solid #cecece;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    overflow: hidden;
  }
  
  .prof-menu__text-wrapper {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s all cubic-bezier(0.215, 0.61, 0.355, 1);
    white-space: nowrap;
    overflow: hidden;
    max-width: 0px;
  }
  
  .prof-menu__img-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
  
  .prof-menu__greeting {
    margin: 0;
    font-size: 14px;
  }
  
  .prof-menu__img {
    border-radius: 100px;
    height: 35px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin: 0px 5px -2.5px;
  }